/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%;
}

.bgimg {
  /* Background image */
  background-image: url('/w3images/forestbridge.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

/* Style the flash messages container */
.messages {
    position: absolute;
    top: 50px;
    left: 350px;
    z-index: 1000;
}

/* Style success messages */
.messages .success {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 5s ease-in-out forwards;
}

.messages .info {
    background-color: #f4f9fa; /* white */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 5s ease-in-out forwards;
}

/* Style error messages */
.messages .error {
    background-color: #FF5733; /* Red */
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 5s ease-in-out forwards;
}

/* Add a simple fade-in/fade-out animation */
@keyframes fadeInOut {
  0% {
    opacity: 0; /* Start with completely transparent text */

  }
  50% {
    opacity: 1; /* Fade in to fully visible text */
  }
  100% {
    opacity: 0; /* Fade out to completely transparent text */
  }
}

/* Apply styles to form elements */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 5px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: crosshair;
}

/* Style links for registration and forgot password */
.form-links {
    text-align: center;
    margin-top: 20px;
}

.form-links a {
    color: #f6f7f8;
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

.edit_button{
  color: white;
}